################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Showcases/GroupDocs.Text.FrontEnd/bin
/Showcases/GroupDocs.Text.FrontEnd/obj/Debug
/Showcases/GroupDocs.Text.FrontEnd/packages
/Showcases/GroupDocs.Text.FrontEnd/.vs/config/applicationhost.config
