<html>
<head ng-app="app">
</head>
<body ng-controller="homwController">
<div class="modal-header">
<h3 class="modal-title">Document is Password Protected</h3>
</div>
<div class="modal-body">
    <form name="myForm">
        <label for="usr">Enter Password:</label>
        <input type="password" class="form-control" ng-model="protectedFile.password" id="usr" required>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-disabled="myForm.$invalid" type="button" ng-click="extractProtectedDocument()">Extract</button>
</div>
</body>
</html>