<html>
<head ng-app="app">
</head>
<body ng-controller="cellsController">
<div class="modal-header">
<h3 class="modal-title">Enter Row and Column Index</h3>
</div>
<div class="modal-body">
    <form name="myForm">
        <label for="row">Row Index:</label>
        <input type="number" class="form-control" ng-model="rowIndex" id="row" required>
        <label for="column">Column Index:</label>
        <input type="text" class="form-control" ng-model="columnIndex" id="column" required>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-disabled="myForm.$invalid" type="button" ng-click="extractRowAndColumn()">Extract</button>
</div>
</body>
</html>