<html>
<head ng-app="app">
</head>
<body ng-controller="searchController">
<div class="modal-header">
<h3 class="modal-title">Search Text</h3>
</div>
<div class="modal-body">
    <form name="myForm">
        <label for="usr">Enter Keyword:</label>
        <input type="text" class="form-control" ng-model="keyWord" id="usr" required>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success"  ng-disabled="myForm.$invalid" type="button" ng-click="searchText()">Extract</button>
</div>
</body>
</html>