<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6"
        description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite"
      description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Words" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.1.0.0" newVersion="20.1.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Cells" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.4.0.0" newVersion="20.4.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.PDF" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.10.0.0" newVersion="20.10.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Email" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-19.12.0.0" newVersion="19.12.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Slides" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.10.0.0" newVersion="20.10.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Imaging" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-19.11.0.0" newVersion="19.11.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Note" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-20.1.0.0" newVersion="20.1.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Aspose.Zip" publicKeyToken="716fcc553a201e56" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-19.10.0.0" newVersion="19.10.0.0"/>
        <publisherPolicy apply="no"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
</configuration>